<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Official website of Brandeis University Japanese Student Association(JSA).">
    <meta name="author" content="Eurey Noguchi">

    <title>Brandeis JSA</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/index.css" rel="stylesheet">

    <link rel="icon" href="../static/img/jsa-logo.ico">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Brandeis Japanese Student Association</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#welcome">Welcome!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#involve">Get Involved</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#map">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://www.facebook.com/BrandeisJSA/">Facebook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://www.instagram.com/jsabrandeis/">Instagram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto" style="text-align: center">
              <h1 class="mb-5" style="text-align: center;">Japanese Student Association</h1>
              <h1 class="mb-5" style="text-align: center;">Brandeis University</h1>
              <a href="#welcome" class="btn btn-outline btn-xl js-scroll-trigger">ようこそ！WELCOME！</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="welcome bg-primary text-center" id="welcome">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">ようこそ！WELCOME！</h2>
            <hr class="light">
            <p></p>
            <p>
              Welcome to Brandeis Japanese Student Association (JSA)‘s official website!
            </p>
            <p>
              JSA was officially founded in 2002, and ever since has been growing its fame on campus.
              We are dedicated to offering the most authentic and accessible Japanese food to you hungry younglings
              out there on Brandeis campus, and making Japanese culture a tangible experience.
              Ranging from sobameshi to the ever popular green tea ice cream, you can expect near-high-quality
              Japanese cuisine without having to spend $2000 on plane tickets and traveling 16 hours overseas.
              With the food in your right hand (unless you’re a lefty in which case you’ll hold it in your left hand),
              you can also experience Japanese-style flower arrangement, calligraphy, kimono cosplay, etc. with your
              other remaining hand. The 17 JSA E-board members welcome you to our warm, friendly, bubbly community!
            </p>
            <p></p>
            <a href="/news" class="btn btn-outline btn-xl js-scroll-trigger" style="border-radius: 0px">NEWS</a>
          </div>
        </div>
      </div>
    </section>

    <section class="events" id="events">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Events</h2>
          <p class="text-muted">Check out our upcoming events!</p>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <div class="event-item">
{#                    Icon from: http://simplelineicons.com/#}
                    <i class="icon-fire text-primary"></i>
                    <h3>Natsumatsuri: Summer Festival</h3>
                    <p class="text-muted">Date: September 15th 2018</p>
                    <p class="text-muted">Time: 12:00pm - 3:00pm</p>
                    <p class="text-muted">Place: Great Lawn</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="event-item">
                    <i class="icon-ghost text-primary"></i>
                    <h3>Obake-Yashiki (Haunted House)</h3>
                    <p class="text-muted">Date: October 27th 2018</p>
                    <p class="text-muted">Time: 5:00pm - 10:00pm</p>
                    <p class="text-muted">Place: ICC (Intercultural Center)</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="event-item">
                    <i class="icon-heart text-primary"></i>
                    <h3>A Day in Asia</h3>
                    <p class="text-muted">Collaboration with BC3 and KSA</p>
                    <p class="text-muted">Date: November 30th 2018</p>
                    <p class="text-muted">Time: 6:00pm - 9:00pm</p>
                    <p class="text-muted">Place: ICC (Intercultural Center)</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4" style="text-align: center"><a href="/pastEvents" class="btn btn-white btn-xl js-scroll-trigger">Past events</a></div>
                <div class="col-lg-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="harumatsuri">
      <div class="harumatsuri-content">
        <div class="container">
          <h2>春祭り<br>Harumatsuri</h2>
          <p style="color: white">JSA’s annual Spring Festival, Harumatsuri, is our biggest event of the year.
            <br>We try to impart the festival feeling to the surrounding population.</p>
          <a href="pastEvents#past-harumatsuri" class="btn btn-outline btn-xl js-scroll-trigger">Previous Years</a>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <section class="involve bg-primary text-center" id="involve">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Get Involved!</h2>
            <hr class="light">
          </div>
        </div>
        <p></p>
        <div class="row">
          <div class="col-lg-4">
            <h3></h3>
            <div class="involve-item">
              <a href="/involve" class="btn btn-white btn-xl js-scroll-trigger" style="padding: 85px 65px; color: white">
                <i class="icon-user text-primary"></i>Know our E-board
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <h3></h3>
            <div class="involve-item">
              <a href="/involve#volunteer" class="btn btn-white btn-xl js-scroll-trigger" style="padding: 85px 95px; color: white">
                <i class="icon-like text-primary"></i>Volunteer
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <h3></h3>
            <div class="involve-item">
              <a href="/involve#fundraise" class="btn btn-white btn-xl js-scroll-trigger" style="padding: 85px 95px; color: white">
                <i class="icon-envelope-letter text-primary"></i>Fundraising
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Contact Us</h2>
          <p class="text-muted">
            Fill out this form or contact through
            <a href="https://www.facebook.com/BrandeisJSA/">Facebook</a> !
          </p>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                  <p></p>
                  <form action="{{ url_for('contact') }}" method="post">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Enter name" required="true" name="name">
                    </div>
                    <div class="form-group">
                      <label for="email1">Email address</label>
                      <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email" required="true" name="email">
                    </div>
                    <div class="form-group">
                      <label for="comment">Comment</label>
                      <textarea class="form-control" id="comment" rows="5" required="true" name="comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-info">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="map" id="map">
      <div class="map-content">
        <div class="container">
          <h2>We are here!</h2>
          <a href="https://www.google.com/maps/dir//Brandeis+University+Intercultural+Center/" class="btn btn-outline btn-xl js-scroll-trigger">Check directions</a>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <footer>
      <div class="container">
        <p><a href="/outsideBrandeis">Japan Outside Brandeis</a></p>
        <p>---</p>
        <p>Founded 2002. &copy; Brandeis Japanese Student Association. All Rights Reserved.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/popper/popper.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/new-age.min.js"></script>

  </body>

</html>
