<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Eurey Noguchi">

    <title>Brandeis JSA - Involve</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/secondarypages.css" rel="stylesheet">

    <link rel="icon" href="../static/img/jsa-logo.ico">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/#page-top">Brandeis Japanese Student Association</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#welcome">Welcome!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#involve">Get Involved</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#map">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://www.facebook.com/BrandeisJSA/">Facebook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://www.instagram.com/jsabrandeis/">Instagram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto" style="text-align: center">
              <h1 class="mb-5" style="text-align: center;">Get Involved!</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="involve" id="e-board">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Current E-board</h2>
          <p class="text-muted">Meet the 2017 - 2018 members!</p>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-3">
                  <div class="involve-item">
                      <p>Eurey Noguchi ('20)</p>
                      <p>President</p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="involve-item">
{#                    <img src="../static/img/Events/Japanweek2018-1.jpg" style="width: 100%">#}
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="involve-item">

                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="involve-item">
                      <p>Kazuki Mochimaru ('19)</p>
                      <p>Vice President</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3">
                  <div class="involve-item">

                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="involve-item">
                      <p>Minkyu Kim ('19)</p>
                      <p>Treasurer</p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="involve-item">
                      <p>Yutong Dong ('21)</p>
                      <p>Secretary</p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="involve-item">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3">
                  <div class="involve-item">
                      <p>Michael Leung ('21)</p>
                      <p>Social Chair</p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="involve-item">

                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="involve-item">

                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="involve-item">
                      <p>Panny Tao ('21)</p>
                      <p>Outreach Chair</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3">
                  <div class="involve-item">

                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="involve-item">
                      <p>Qianni Chen ('19)</p>
                      <p>Publicity Chair</p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="involve-item">
                      <p>Maya Iimura ('20)</p>
                      <p>Harumatsuri Coordinator</p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="involve-item">

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3">
                  <div class="involve-item">
                      <p>Alysa Noda-Hines ('20)</p>
                      <p>Harumatsuri Coordinator</p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="involve-item">

                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="involve-item">

                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="involve-item">
                      <p>Iris Hao ('21)</p>
                      <p>Event Coordinator</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3">
                  <div class="involve-item">

                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="involve-item">
                      <p>Amy Zou ('19)</p>
                      <p>Event Coordinator</p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="involve-item">
                      <p>Tamami Horioka ('19)</p>
                      <p>Senior Advisor</p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="involve-item">

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="section-heading text-center">
          <h2>Past E-board</h2>
          <p></p>
          <hr>
        </div>
{#      TODO: Make this a tab#}
        <div class="row">
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="involve-item">
                      <h3>2017 - 2018</h3>
                      <hr>
                      <p></p>
                      <p>President: Mira Pomerantz (’18)</p>
                      <p>Vice President: Eurey Noguchi (’20)</p>
                      <p>Secretary: Tamami Horioka ('19), Panny Tao ('21)</p>
                      <p>Treasurer: Chloe Lyu ('20)</p>
                      <p>Event Coordinators: Maya Iimura ('20), Haixi Dong ('18), Amy Zou ('19)</p>
                      <p>Social Chair: Alysa Noda-Hines ('20)</p>
                      <p>Publicity Chair: Qianni Chen (’19) </p>
                      <p>Harumatsuri Coordinator: Kazuki Mochimaru ('19), Yuchen He (’18), Duzhi Zhao ('19)</p>
                      <p>Outreach Chair: Olivia Nichols ('20)</p>
                      <p>Freshman Representative: Panny Tao ('21), Michael Leung ('21)</p>
                      <p>Senior Advisor: Tamara Garcia ('18)</p>
                  </div>
                </div>
            </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="involve-item">
                      <h3>2016 - 2017</h3>
                      <hr>
                      <p></p>
                      <p>President: Yuki Dai ('17), Tamra Garcia ('18)</p>
                      <p>Secretary: Tamami Horioka ('19)</p>
                      <p>Treasurer: Tamami Horioka ('19)</p>
                      <p>Event Coordinators: Mira Pomerantz (’18), Fyona Sun (’16 fall), Duzhi Zhao (’19), Zhaobi Chen (’19), Guoxi Zhu ('20)</p>
                      <p>Treasurer: Haixi Dong (’18) </p>
                      <p>Publicity Chair: Weini Chen (’17) </p>
                      <p>Publicity Assistant:Jianhui Ben (’18)</p>
                      <p>Social Chair: Natsuko Yamagata (’17), Ludi Yang (’17)</p>
                      <p>Media Chair: Jeremy Longfellow (’18)</p>
                      <p>Harumatsuri Coordinator: Emily Choi (’19), Yuchen He (’18)</p>
                      <p>Outreach Chair: Olivia Nichols ('20)</p>
                      <p>ICC Representative: Alan Omori ('20)</p>
                      <p>Freshman Representative: Eurey Noguchi ('20)</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="involve-item">
                      <h3>2015 - 2016</h3>
                      <hr>
                      <p></p>
                      <p>President: Meg Kobashi (’18)</p>
                      <p>Vice President: Shella Wu (’17)</p>
                      <p>Secretary: Tamara Garcia (’18)</p>
                      <p>Event Coordinators: Fyona Sun (’17), Natsuko Yamagata (’17)</p>
                      <p>Treasurer: Erica Chai (’17)</p>
                      <p>Assistant Treasurer: Ludi Yang (’17)</p>
                      <p>Publicity Chair: Yuki Dai (’18)</p>
                      <p>Social Chair: Yuchen He (’18)</p>
                      <p>Media Chair: Mira Pomerantz (’18)</p>
                      <p>ICC Representative: Matthew Michaud (’18), Jeremy Longfellow (’18)</p>
                      <p>Freshman Representative: Tamami Horioka (’19), Kazuki Mochimaru (’19)</p>
                  </div>
              </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                  <div class="involve-item">
                      <h3>2014 - 2015</h3>
                      <hr>
                      <p></p>
                      <p>President: Mana Fujimoto (’16), Tianci Zhong (’16)</p>
                      <p>Secretary: Vinson Chen (’15)</p>
                      <p>Event Coordinators:  Natsuko Yamagata (’17), Eriko Chujo (’15)</p>
                      <p>Treasurer: Erica Chai (’17)</p>
                      <p>Publicity Chair: Tamara Garcia (’18)</p>
                      <p>Social Chair: Shella Wu (’17)</p>
                      <p>Media/DJ: Keith Jones (’15)</p>
                      <p>ICC Representative: Meg Kobashi (’18)</p>
                      <p>Freshman Representative: Mira Pomerantz (’18)</p>
                      <p>Senior Advisor: Lily Li (’15)</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="involve-item">
                      <h3>2013 - 2014</h3>
                      <hr>
                      <p></p>
                      <p>President: Lily Li (’15), Lisa Xu (’15)</p>
                      <p>Secretary: Vinson Chen (’15)</p>
                      <p>Event Coordinator: Mana Fujimoto (’16)</p>
                      <p>Treasurer: Keith Jones (’15)</p>
                      <p>Social Chair: Brian Jones (’15)</p>
                      <p>Publicity Chair: Tianci Zhong (’15)</p>
                      <p>ICC Representative: Shella Wu (’17)</p>
                  </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="past_event-red bg-primary text-center" id="volunteer">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2>Volunteer !</h2>
            <hr class="light">
          </div>
        </div>
        <p></p>

        <div class="row">
          <div class="col-lg-5">
            <h3></h3>
            <div class="past_event-red-item">
              <p>
                  Are you interested in seeing what happens behind the scenes of preparing a big JSA event?
              </p>
              <p>
                  You are at the right place! Even if you aren’t on the E-board, you can still play an important role
                  in our events!
              </p>
              <p>
                  Some of our events, mainly Harumatsuri (Japanese Spring Festival), run thanks to the gracious
                  help of the many volunteers who not only help cooking but also help set up props to create an
                  exciting atmosphere!
              </p>
              <p>
                  To volunteer at our events, please fill out the following form so that we can reach out to you!
              </p>
              <p>See you soon...!</p>
            </div>
          </div>

          <div class="col-lg-1"></div>

          <div class="col-lg-5">
            <h3></h3>
            <div class="past_event-red-item">
              <form action="{{ url_for('volunteer') }}" method="post">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Enter name" required="true" name="name">
                    </div>
                    <div class="form-group">
                      <label for="email1">Email address</label>
                      <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email" required="true" name="email">
                    </div>
                    <div class="form-group">
                      <label for="comment">Comment</label>
                      <textarea class="form-control" id="comment" rows="5" name="comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-light">Submit</button>
                  </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="fundraise" id="fundraise">
      <div class="fundraise-content">
        <div class="container">
          <h2>Fundraising</h2>
          <p style="color: white">More information to come...</p>
          <p></p>
          <p style="color: white">Previous fundraising events:</p>
          <li style="color: white">Fundraiser for Kumamoto Earthquake</li>
          <li style="color: white">Yakitori Delivery</li>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <footer>
      <div class="container">
        <p><a href="/outsideBrandeis">Japan Outside Brandeis</a></p>
        <p>---</p>
        <p>Founded 2002. &copy; Brandeis Japanese Student Association. All Rights Reserved.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/popper/popper.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/new-age.min.js"></script>

  </body>

</html>
