<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Official website of Brandeis University Japanese Student Association(JSA).">
    <meta name="author" content="Eurey Noguchi">

    <title>Brandeis JSA</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/index.css" rel="stylesheet">

    <link rel="icon" href="../static/img/jsa-logo.ico">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Brandeis Japanese Student Association</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#welcome">Welcome!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#involve">Get Involved</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#map">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://www.facebook.com/BrandeisJSA/">Facebook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://www.instagram.com/jsabrandeis/">Instagram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto" style="text-align: center">
              <h1 class="mb-5" style="text-align: center; margin-bottom: 0px !important;">LOGIN</h1>
              <div class="row">
                  <div class="col-lg-12 my-auto">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                          <p></p>
                          <form action="{{ url_for('contact') }}" method="post">
                            <div class="form-group">
                              <label for="email">Email address</label>
                              <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email" required="true" name="email">
                            </div>
                            <div class="form-group">
                              <label for="pwd">Password</label>
                              <input type="password" class="form-control" id="pwd" placeholder="Enter password" required="true" name="password">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-info">LOGIN</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <footer>
      <div class="container">
        <p><a href="/outsideBrandeis">Japan Outside Brandeis</a></p>
        <p>---</p>
        <p>Founded 2002. &copy; Brandeis Japanese Student Association. All Rights Reserved.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/popper/popper.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/new-age.min.js"></script>

  </body>

</html>
