<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Eurey Noguchi">

    <title>Brandeis JSA - Japan Outside Brandeis</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/secondarypages.css" rel="stylesheet">

    <link rel="icon" href="../static/img/jsa-logo.ico">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/#page-top">Brandeis Japanese Student Association</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#welcome">Welcome!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#involve">Get Involved</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#map">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://www.facebook.com/BrandeisJSA/">Facebook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://www.instagram.com/jsabrandeis/">Instagram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto" style="text-align: center">
              <h1 class="mb-5" style="text-align: center;">Japan Outside Brandeis</h1>
            </div>
            <p style="text-align: center">
                Not to worry – you can find Japanese food and culture not just at Brandeis but also all around the Greater Boston Area!
            </p>
            <p style="text-align: center">Immerse yourself in home far from home...</p>
          </div>
        </div>
      </div>
    </header>

    <section class="outsideBrandeis" id="outsideBrandeis">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Groceries</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="outsideBrandeis-item">
                    <h3>Ebisuya Japanese Market</h3>
                    <p></p>
                    <p>65 Riverside Avenue, Medford, MA 02155</p>
                    <p>(781) 391-0012</p>
                    <a href="http://ebisuyamarket.com/index-en.php">http://ebisuyamarket.com/index-en.php</a>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="outsideBrandeis-item">
                    <h3>Hmart – Cambridge</h3>
                    <p></p>
                    <p>581 Massachusetts Avenue, Cambridge, MA 02139</p>
                    <p>(857) 209-2747</p>
                    <a href="http://www.hmart.com/stores/cambridge/">http://www.hmart.com/stores/cambridge/</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>
        <br>
        <div class="section-heading text-center">
          <h2>Authentic Japanese Restaurants</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <div class="outsideBrandeis-item">
                    <h3>Shogun Japanese Restaurant</h3>
                    <p></p>
                    <p>1385 Washington Street, Newton MA 02465</p>
                    <p>(617) 965-6699</p>
                    <a href="http://shogunrestaurant.squarespace.com/">http://shogunrestaurant.squarespace.com/</a>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="outsideBrandeis-item">
                    <h3>Shiki</h3>
                    <p></p>
                    <p>9 Babcock Street, Brookline, MA 02446</p>
                    <p>(617) 738-0200</p>
                    <a href="http://shikibrookline.com/">http://shikibrookline.com/</a>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="outsideBrandeis-item">
                    <h3>Ittoku</h3>
                    <p></p>
                    <p>1414 Commonwealth Avenue, Boston, MA 02134</p>
                    <p>(617) 608-3630</p>
                    <a href="http://www.yelp.com/biz/ittoku-boston">http://www.yelp.com/biz/ittoku-boston</a>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="outsideBrandeis-item">
                    <h3>Santouka (Japanese chain)</h3>
                    <p></p>
                    <p>1230 Massachusetts Avenue / One Bow Street Cambridge, MA, 02138</p>
                    <p>(617) 945-1460</p>
                    <a href="https://www.santouka.co.jp/en/shop-foreigin/usa/foreign01-011">https://www.santouka.co.jp/en/shop-foreigin/usa/foreign01-011</a>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="outsideBrandeis-item">
                    <h3>Sapporo Ramen (Japanese chain)</h3>
                    <p></p>
                    <p>The Shops at Porter Square (1815 Massachusetts Avenue, Cambridge, MA 02140)</p>
                    <p>(617) 876-4805</p>
                    <a href="http://www.yelp.com/biz/sapporo-ramen-cambridge">http://www.yelp.com/biz/sapporo-ramen-cambridge</a>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="outsideBrandeis-item">
                    <h3>Yume wo katare</h3>
                    <p></p>
                    <p>Porter Square Shopping Center (1923 Massachusetts Avenue, Cambridge, MA 02140)</p>
                    <p>(617) 714-4008</p>
                    <a href="http://www.yumewokatare.com/">http://www.yumewokatare.com/</a>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="outsideBrandeis-item">
                    <h3>Ogawa Coffee (Japanese chain)</h3>
                    <p></p>
                    <p>10 Milk Street, Boston, MA 02108</p>
                    <p>(617) 780-7139</p>
                    <a href="http://www.ogawacoffeeusa.com/">http://www.ogawacoffeeusa.com/</a>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="outsideBrandeis-item">
                    <h3>Gyu-Kaku Japanese BBQ (Japanese chain)</h3>
                    <p></p>
                    <p>16-18 Eliot Street, Cambridge, MA 02138</p>
                    <p>(857) 259-6666</p>
                    <p>1002 Beacon Street, Brookline, MA 02446</p>
                    <p>(617) 264-6190</p>
                    <a href="http://www.gyu-kaku.com/">http://www.gyu-kaku.com/e</a>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="outsideBrandeis-item">
                    <h3>Oga’s Japanese Cuisine</h3>
                    <p></p>
                    <p>915 Worcester Street, Natick, MA 01760</p>
                    <p>(508) 653-4338</p>
                    <a href="http://www.yelp.com/biz/ogas-japanese-cuisine-natick">http://www.yelp.com/biz/ogas-japanese-cuisine-natick</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>
        <br>
        <div class="section-heading text-center">
          <h2>Art & Culture</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="outsideBrandeis-item">
                    <h3>Kaji Aso Studio (art, poetry/haiku, ceramics, Japanese calligraphy, tea ceremony, music)</h3>
                    <p></p>
                    <p>40 St. Stephen Street, Boston, MA 02115</p>
                    <p>(617) 247-1719</p>
                    <a href="http://www.kajiasostudio.com/webroot/home.cfm">http://www.kajiasostudio.com/webroot/home.cfm</a>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="outsideBrandeis-item">
                    <h3>Zenshinkan Dojo (aikido, zen, ikebana)</h3>
                    <p></p>
                    <p>65 Water Street, Worcester, MA 01604</p>
                    <p>(508) 799-9106</p>
                    <a href="http://www.zenshinkan.com/index.html">http://www.zenshinkan.com/index.html</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <footer>
      <div class="container">
        <p><a href="/outsideBrandeis">Japan Outside Brandeis</a></p>
        <p>---</p>
        <p>Founded 2002. &copy; Brandeis Japanese Student Association. All Rights Reserved.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/popper/popper.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/new-age.min.js"></script>

  </body>

</html>
