<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Eurey Noguchi">

    <title>Brandeis JSA - Past Events</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/secondarypages.css" rel="stylesheet">

    <link rel="icon" href="../static/img/jsa-logo.ico">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/#page-top">Brandeis Japanese Student Association</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#welcome">Welcome!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#involve">Get Involved</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#map">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://www.facebook.com/BrandeisJSA/">Facebook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://www.instagram.com/jsabrandeis/">Instagram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto" style="text-align: center">
              <h1 class="mb-5" style="text-align: center;">Past Events</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="past_event" id="past_event2017-2018">
      <div class="container">
        <div class="section-heading text-center">
          <h2>2017 - 2018</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">

              <div class="row">
                  <div class="col-lg-4">
                    <h3></h3>
                    <div class="past_event-item">
                      <p></p>
                      <p></p>
                      <img src="../static/img/Events/sweatshirt2018-1.jpg" style="width: 100%">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <h3></h3>
                    <div class="past_event-item">
                      <p></p>
                      <p></p>
                      <h3>JSA Sweatshirt Sale</h3>
                      <p>April 25th - March 2nd</p>
                      <p>12:00PM - 3:00PM</p>
                      <p>@ Upper Usdan</p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <h3></h3>
                    <div class="past_event-item">
                      <p></p>
                      <p></p>
                      <img src="../static/img/Events/sweatshirt2018-2.jpg" style="width: 100%">
                    </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-lg-4">
                    <h3></h3>
                    <div class="past_event-item">
                      <p></p>
                      <p></p>
                      <h3>Japan Week</h3>
                      <p>February 26th - March 2nd</p>
                      <p></p>
                      <p>Day 1: Ramen Night</p>
                      <p>Day 2: Wabi-Sabi Night</p>
                      <p>Day 3: Yakitori Delivery</p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <h3></h3>
                    <div class="past_event-item">
                      <p></p>
                      <p></p>
                      <img src="../static/img/Events/Japanweek2018-1.jpg" style="width: 100%">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <h3></h3>
                    <div class="past_event-item">
                      <p></p>
                      <p></p>
                      <img src="../static/img/Events/Japanweek2018-2.jpg" style="width: 100%">
                    </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Sushigimbap2018-1.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Sushigimbap2018-2.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <p></p>
                    <h3>JSA x KSA: Sushi & Kimbap Night</h3>
                    <p></p>
                    <p>February 10th 2018</p>
                    <p>6:00PM - 8:00PM</p>
                    <p>@ Ridgewood A Commons</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Oshogatsu2018-1.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <h3>Oshogatsu: Japanese New Years</h3>
                    <p></p>
                    <p>January 19th 2018</p>
                    <p>6:00PM - 8:00PM</p>
                    <p>@ ICC</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Oshogatsu2018-2.jpg" style="width: 100%">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <h3>Art of Japan</h3>
                    <p></p>
                    <p>November 17th 2017</p>
                    <p>3:00PM - 5:00PM</p>
                    <p>@ SCC</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Artofjapan2017-1.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Artofjapan2017-2.jpg" style="width: 100%">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Hauntedhouse2017-1.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Hauntedhouse2017-2.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <h3>Escape the Haunted School</h3>
                    <p></p>
                    <p>October 27th 2017</p>
                    <p>5:30PM - 10:00PM</p>
                    <p>@ ICC</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Sushinight2017-1.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <h3>Sushi Night</h3>
                    <p></p>
                    <p>September 8th 2017</p>
                    <p>6:00PM - 8:00PM</p>
                    <p>@ ICC</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Sushinight2017-2.jpg" style="width: 100%">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="past_event-red bg-primary text-center" id="past_event-red2016-2017">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2>2016 - 2017</h2>
            <hr class="light">
          </div>
        </div>
        <p></p>

        <div class="row">
          <div class="col-lg-4">
            <h3></h3>
            <div class="past_event-red-item">
              <p></p>
              <p></p>
              <img src="../static/img/Events/Japanweek2017-1.jpg" style="width: 100%">
            </div>
          </div>
          <div class="col-lg-4">
            <h3></h3>
            <div class="past_event-red-item">
              <h3>Japan Week</h3>
              <p>March 13th - 17th</p>
              <p></p>
              <p>Day 1: Ramen Night</p>
              <p>Day 2: Anime Night</p>
              <p>Day 3: Snack Night</p>
              <p>Day 4: Karaage Delivery</p>
              <p>Day 5: BBQ Outing!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <h3></h3>
            <div class="past_event-red-item">
              <p></p>
              <p></p>
              <img src="../static/img/Events/Japanweek2017-2.jpg" style="width: 100%">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <h3></h3>
            <div class="past_event-red-item">
              <h3>Controversy in Japanese Feminism</h3>
              <p></p>
              <p>February 3rd 2017</p>
              <p>5:30PM - 7:00PM</p>
              <p>@ ICC</p>
            </div>
          </div>
          <div class="col-lg-4">
            <h3></h3>
            <div class="past_event-red-item">
              <img src="../static/img/Events/Feminism2017-1.jpg" style="width: 100%">
            </div>
          </div>
          <div class="col-lg-4">
            <h3></h3>
            <div class="past_event-red-item">
              <img src="../static/img/Events/Feminism2017-2.jpg" style="width: 100%">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <h3></h3>
            <div class="past_event-red-item">
              <img src="../static/img/Events/Yakinight2017-1.jpg" style="width: 100%">
            </div>
          </div>
          <div class="col-lg-4">
            <h3></h3>
            <div class="past_event-red-item">
              <img src="../static/img/Events/Yakinight2017-2.jpg" style="width: 100%">
            </div>
          </div>
          <div class="col-lg-4">
            <h3></h3>
            <div class="past_event-red-item">
              <h3>Yaki Night</h3>
              <p></p>
              <p>January 27th 2017</p>
              <p>6:00PM - 9:00PM</p>
              <p>@ ICC</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <h3></h3>
            <div class="past_event-red-item">
              <img src="../static/img/Events/Artofjapan2016-1.jpg" style="width: 100%">
            </div>
          </div>
          <div class="col-lg-4">
            <h3></h3>
            <div class="past_event-red-item">
              <h3>Art of Japan</h3>
              <p></p>
              <p>November 18th 2016</p>
              <p>4:00PM - 7:00PM</p>
              <p>@ SCC</p>
            </div>
          </div>
          <div class="col-lg-4">
            <h3></h3>
            <div class="past_event-red-item">
              <img src="../static/img/Events/Artofjapan2016-2.jpg" style="width: 100%">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <h3></h3>
            <div class="past_event-red-item">
              <h3>Obakeyashiki</h3>
              <p></p>
              <p>October 29th 2016</p>
              <p>7:30PM - 9:00PM</p>
              <p>@ ICC</p>
            </div>
          </div>
          <div class="col-lg-4">
            <h3></h3>
            <div class="past_event-red-item">
              <img src="../static/img/Events/Obakeyashiki2016-1.jpg" style="width: 100%">
            </div>
          </div>
          <div class="col-lg-4">
            <h3></h3>
            <div class="past_event-red-item">
              <img src="../static/img/Events/Obakeyashiki2016-2.jpg" style="width: 100%">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <h3></h3>
            <div class="past_event-red-item">
              <img src="../static/img/Events/Sushinight2016-1.jpg" style="width: 100%">
            </div>
          </div>
          <div class="col-lg-4">
            <h3></h3>
            <div class="past_event-red-item">
              <img src="../static/img/Events/Sushinight2016-2.jpg" style="width: 100%">
            </div>
          </div>
          <div class="col-lg-4">
            <h3></h3>
            <div class="past_event-red-item">
              <h3>Sushi Night</h3>
              <p></p>
              <p>September 9th 2016</p>
              <p>7:00PM - 9:00PM</p>
              <p>@ ICC</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="past_event" id="past_event2015-2016">
      <div class="container">
        <div class="section-heading text-center">
          <h2>2015 - 2016</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Kumamoto2016-1.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <p></p>
                    <h3>Fundraiser for Kumamoto Earthquake</h3>
                    <p></p>
                    <p>April 20th 2016</p>
                    <p>12:00PM - 2:00PM</p>
                    <p>@ Upper Usdan</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Kumamoto2016-2.jpg" style="width: 100%">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <h3>Japan Week</h3>
                    <p></p>
                    <p>April 16th - 19th 2016</p>
                    <p>Day 1: Cooking Night</p>
                    <p>Day 2: Dumpling and Snacks Night</p>
                    <p>Day 3: Anime Brandeis</p>
                    <p>Day 4: Japanese BBQ Outing</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <p></p>
                    <img src="../static/img/Events/Japanweek2016-1.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <p></p>
                    <img src="../static/img/Events/Japanweek2016-2.jpg" style="width: 100%">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Yakitoridelivery2016.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="past_event-item">
                    <p></p>
                    <h3>Yakitori Delivery</h3>
                    <p></p>
                    <p>February 26th 2016</p>
                    <p>9:30PM - 2:00AM</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Newyear2016-1.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <h3>The New Year Event</h3>
                    <p></p>
                    <p>January 22nd 2016</p>
                    <p>5:00PM - 7:00PM</p>
                    <p>@ ICC MPR</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Newyear2016-2.jpg" style="width: 100%">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <h3>Ikebana – Blossoming art of flower arrangement</h3>
                    <p></p>
                    <p>November 13th 2015</p>
                    <p>7:00PM - 8:30PM</p>
                    <p>@ Slosberg Music Center Recital Hall</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Ikebana2015-1.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Ikebana2015-2.jpg" style="width: 100%">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="past_event-item">
                    <p></p>
                    <h3>Bento Box Night</h3>
                    <p></p>
                    <p>October 23rd 2015</p>
                    <p>6:00PM - 8:00PM</p>
                    <p>@ ICC MPR</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Bentobox2015-1.jpg" style="width: 100%">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Sushinight2015-1.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <h3>Sushi Night</h3>
                    <p></p>
                    <p>September 10th 2015</p>
                    <p>5:00PM - 7:00PM</p>
                    <p>@ ICC MPR</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/Sushinight2015-2.jpg" style="width: 100%">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="past-harumatsuri" id="past-harumatsuri">
      <div class="past-harumatsuri-content">
        <div class="container">
          <h2>過去の春祭り<br>Past Harumatsuri</h2>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <section class="past_event" id="past_harumatsuri_detail">
      <div class="container">
        <div class="section-heading text-center">
          <h2>2018</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2018-1.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2018-2.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2018-6.jpg" style="width: 100%">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <p><br></p>
                    <img src="../static/img/Events/harumatsuri2018-4.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <p>March 25th 2018</p>
                    <p>1:00PM - 4:00PM</p>
                    <p>@ Sherman Function Hall</p>
                    <p></p>
                    <p>
                      Our theme for 2018 was "Sei-shun" (blue spring), which refers to youth, adolescence, and the
                        complex emotions everyone experiences during this time.
                    </p>
                    <p>
                      For lunch, we will be serving homemade bento boxes and oden! There will be many performances by
                        special guests, as well as a kimono corner where you get to take pictures in kimonos!
                    </p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2018-5.jpg" style="width: 100%">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2018-3.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2018-7.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2018-8.jpg" style="width: 100%">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <br>
        <br>
        <br>
        <div class="section-heading text-center">
          <h2>2017</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2017-5.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2017-2.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2017-3.jpg" style="width: 100%">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <p><br><br></p>
                    <img src="../static/img/Events/harumatsuri2017-4.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <p>April 22nd 2017</p>
                    <p>12:00PM - 3:00PM</p>
                    <p>@ Sherman Function Hall</p>
                    <p></p>
                    <p>
                      Our theme for 2017, Blossom, not only represented spring, flowers, and joy,
                      but also the ‘blossoming’ of our club as a whole.
                    </p>
                    <p>
                      The festival featured HERMIT, TRADITIONAL MUSIC CLUB, and off campus professional guests,
                      MICHIKO KURATA (Japanese folk dancer) and MICHIKO IMAI (Japanese calligrapher)!
                    </p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <p><br><br></p>
                    <img src="../static/img/Events/harumatsuri2017-1.jpg" style="width: 100%">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2017-7.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2017-6.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2017-8.jpg" style="width: 100%">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <br>
        <br>
        <br>
        <div class="section-heading text-center">
          <h2>2016</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2016-1.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2016-2.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2016-3.jpg" style="width: 100%">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <p></p>
                    <img src="../static/img/Events/harumatsuri2016-4.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <p>April 9th 2016</p>
                    <p>1:00PM - 3:00PM</p>
                    <p>@ ICC</p>
                    <p></p>
                    <p>
                      We brought back the Yukata wearing, green tea ice cream, and spicy ramen challenge from the
                      previous year!
                    </p>
                    <p>
                      The event featured Karate club, Anime club, and Language Table!
                    </p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <p></p>
                    <img src="../static/img/Events/harumatsuri2016-5.jpg" style="width: 100%">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2016-7.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2016-6.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="past_event-item">
                    <img src="../static/img/Events/harumatsuri2016-8.jpg" style="width: 100%">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p><a href="/outsideBrandeis">Japan Outside Brandeis</a></p>
        <p>---</p>
        <p>Founded 2002. &copy; Brandeis Japanese Student Association. All Rights Reserved.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/popper/popper.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/new-age.min.js"></script>

  </body>

</html>
